.doublechocolatebananacake-1-icon,
.image-removebg-preview-22-icon {
  position: absolute;
  top: 13px;
  left: 1165px;
  width: 400px;
  height: 259px;
  object-fit: cover;
}
.image-removebg-preview-22-icon {
  top: 0;
  left: 0;
  width: 324.8px;
  height: 300px;
}
.frame-child2 {
  position: absolute;
  top: 3px;
  left: 340px;
  border-radius: var(--br-31xl);
  width: 100px;
  height: 40px;
}
.about-us1,
.home1,
.menu1 {
  position: absolute;
  top: 1px;
  left: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 45px;
}
.home1,
.menu1 {
  top: 0;
  left: 0;
}
.menu1 {
  left: 329px;
  color: var(--color-sienna-100);
  width: 121px;
}
.frame-div,
.jm-baked-goodies2 {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 450px;
  height: 46px;
}
.jm-baked-goodies2 {
  left: 603px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-wheat);
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 45px;
}
.frame-child3,
.frame-child4 {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child4 {
  width: 25px;
  height: 25px;
  mix-blend-mode: lighten;
  cursor: pointer;
}
.rectangle-parent1 {
  position: absolute;
  top: 20px;
  left: 1335px;
  width: 86px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.frame-child5 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: var(--br-32xl);
  background-color: var(--color-white);
  width: 309px;
  height: 40px;
}
.search1 {
  position: absolute;
  top: 0;
  left: 17px;
  display: flex;
  align-items: center;
  width: 79px;
  height: 45px;
}
.image-21-icon1 {
  position: absolute;
  top: 13px;
  left: 274px;
  width: 20px;
  height: 19.4px;
  object-fit: cover;
}
.rectangle-parent2 {
  position: absolute;
  top: 12px;
  left: 985px;
  width: 309px;
  height: 45px;
  text-align: left;
  color: var(--color-darksalmon);
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 70px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.f-66964064-8tov5lfrfb8kah3syux-icon {
  position: relative;
  border-radius: var(--br-31xl);
  width: 370px;
  height: 386.3px;
  object-fit: cover;
}
.f-66964064-8tov5lfrfb8kah3syux-wrapper {
  position: absolute;
  top: 264px;
  left: 115px;
  filter: blur(10px);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-1-child,
.menu-1-item {
  position: absolute;
  top: 512px;
  left: 250px;
  border-radius: var(--br-11xl);
  width: 79.3px;
  height: 70px;
  object-fit: cover;
}
.menu-1-item {
  top: 254px;
  left: 965px;
  border-radius: var(--br-31xl);
  width: 370px;
  height: 386.3px;
}
.apple-pie1 {
  position: absolute;
  top: 613px;
  left: 1014px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 272px;
  height: 144px;
}
.menu-1-child1,
.menu-1-inner {
  position: absolute;
  top: 512px;
  left: 1110px;
  border-radius: var(--br-11xl);
  width: 79.3px;
  height: 70px;
  object-fit: cover;
}
.menu-1-child1 {
  top: 254px;
  left: 535px;
  border-radius: var(--br-31xl);
  width: 370px;
  height: 386.3px;
}
.banana-bread1 {
  position: absolute;
  top: 614px;
  left: 584px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 272px;
  height: 144px;
}
.menu-1-child2 {
  position: absolute;
  top: 512px;
  left: 673px;
  border-radius: var(--br-11xl);
  width: 79.3px;
  height: 70px;
  object-fit: cover;
}
.revel-bars2 {
  position: absolute;
  top: 614px;
  left: 154px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 272px;
  height: 144px;
}
.menu-1-child3 {
  position: absolute;
  top: 132px;
  left: 1093px;
  border-radius: var(--br-31xl);
  width: 302.6px;
  height: 60px;
}
.request-special-order {
  position: absolute;
  top: 138px;
  left: 1111px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-wheat);
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 49px;
}
.chocolate-chip-brownie-1200x12-icon {
  position: absolute;
  top: 741px;
  left: 0;
  width: 341px;
  height: 250px;
  object-fit: cover;
}
.nutty-chocolate-oat-bars-the-l-icon1 {
  position: absolute;
  top: 630px;
  left: 1140px;
  width: 450px;
  height: 547px;
  object-fit: cover;
}
.menu2 {
  position: absolute;
  top: 110px;
  left: 298px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-kaushan-script);
  color: var(--color-sienna-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 844px;
  height: 105px;
}
.menu-1 {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8),
      rgba(240, 215, 167, 0.8)
    ),
    #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 250px;
  height: 69px;
}
.log-in {
  position: absolute;
  top: 10px;
  left: 37.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174.2px;
  height: 49px;
  -webkit-text-stroke: 1px #f0d7a7;
}
.vector-container {
  position: relative;
  width: 250px;
  height: 69px;
}
.or,
.or-wrapper {
  width: 551px;
  height: 26px;
}
.or {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.or-wrapper {
  position: relative;
  font-size: var(--font-size-mini);
}
.create-account {
  position: absolute;
  top: 10px;
  left: 37.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174.2px;
  height: 49px;
}
.group-div {
  position: relative;
  width: 250px;
  height: 69px;
  color: var(--color-gray-200);
}
.log-increate-account-overlay {
  position: relative;
  border-radius: var(--br-31xl);
  background: linear-gradient(#371509, #371509), #fff;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(100px);
  width: 449px;
  height: 391px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 198px 69px;
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.product-description-child {
  position: absolute;
  top: 115px;
  left: 369px;
  border-radius: var(--br-11xl);
  background-color: var(--color-sienna-200);
  width: 908px;
  height: 345px;
}
.revel-bars-15535-e4979a6503-16-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
  height: 740px;
  object-fit: cover;
}
.revel-bars-are,
.revel-bars1 {
  position: absolute;
  left: 408px;
  display: flex;
  align-items: center;
}
.revel-bars1 {
  top: 25px;
  font-family: var(--font-kaushan-script);
  color: var(--color-sienna-100);
  text-align: left;
  width: 372px;
  height: 105px;
}
.revel-bars-are {
  top: 145.8px;
  font-size: var(--font-size-xl);
  text-align: justify;
  width: 438.8px;
  height: 285.8px;
  transform: rotate(-0.12deg);
  transform-origin: 0 0;
}
.product-description-item {
  position: absolute;
  top: 0;
  left: -2px;
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 0.4) 39.58%,
    rgba(217, 217, 217, 0) 83.85%
  );
  width: 543px;
  height: 987px;
}
.image-38-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
  mix-blend-mode: color-burn;
}
.product-description-inner {
  position: absolute;
  top: 64px;
  left: 896px;
  width: 487px;
  height: 448px;
}
.nutty-chocolate-oat-bars-the-l-icon {
  position: absolute;
  top: 64px;
  left: 949px;
  width: 380px;
  height: 359px;
  object-fit: cover;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 226px;
  height: 68px;
}
.add-to-cart {
  position: absolute;
  top: 9.6px;
  left: 74.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127.6px;
  height: 48.7px;
}
.group-child1 {
  position: absolute;
  top: 9.6px;
  left: 16.7px;
  border-radius: var(--br-11xl);
  width: 60px;
  height: 48.5px;
  object-fit: cover;
}
.vector-parent1 {
  position: absolute;
  top: 551px;
  left: 1026px;
  width: 226px;
  height: 68px;
  font-size: 16px;
  color: var(--color-wheat);
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-sienna-200);
  width: 291px;
  height: 78.4px;
}
.pieces-8-pcs,
.price-160 {
  position: absolute;
  top: 39px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 291px;
  height: 31.7px;
}
.pieces-8-pcs {
  top: 0;
  left: 2px;
  font-weight: 600;
  width: 285px;
  height: 46.7px;
}
.price-160-parent,
.rectangle-container {
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 291px;
  height: 70.7px;
}
.rectangle-container {
  top: 486.6px;
  left: 369px;
  height: 78.4px;
  font-size: var(--font-size-5xl);
}
.cart-notif-child,
.product-description {
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.product-description {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(238, 225, 186, 0) 27.6%,
      rgba(238, 225, 186, 0.8) 53.65%
    ),
    #fff;
  width: 1300px;
  height: 720px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: 48px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.cart-notif-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-sienna-100);
}
.product-has-been {
  position: absolute;
  height: 53.13%;
  width: 100%;
  top: 23.44%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-notif {
  position: relative;
  width: 572px;
  height: 128px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: 30px;
  color: var(--color-wheat);
  font-family: var(--font-inter);
}
